<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>パスワードリセットのご案内</h1>
  <p><%= @user.email %>様</p>
  <p>
    平素よりユートピアアプリをご利用いただき、誠にありがとうございます。<br>
    パスワードリセットの申請を承りましたので、ご案内申し上げます。
  </p>
  <p>
    以下のリンクをクリックし、新しいパスワードを設定してください：<br>
    <%= link_to 'パスワードをリセット', @url %>
  </p>
  <p>
    このリンクの有効期限は24時間となっております。期限が切れた場合は、お手数ですが再度パスワードリセットを申請してください。
  </p>
  <p>
    もしこのリクエストに心当たりがない場合は、このメールを無視していただいて結構です。<br>
    その場合、アカウントのパスワードは変更されません。
  </p>
  <p>
    ご不明な点がございましたら、このメールへの返信にてお問い合わせください。サポートチームが対応させていただきます。
  </p>
  <p>
    今後ともユートピアアプリをご愛顧いただけますよう、よろしくお願い申し上げます。<br>
    CUISINE AI UTOPIA 開発者 遠藤 柚貴
  </p>
</body>
</html>