<div class="power-button-container">
  <%= link_to recipe_conditions_new_path, id: 'power-button' do %>
    <%= image_tag 'power-button-icon2.png', class: 'power-icon', alt: 'Power Button' %>
  <% end %>
</div>

<div class="scrolling-text-container">
  <div class="scrolling-text">健康的な食生活を。 U T O P I A があなたをサポートします。 中央のボタンを押して、より良い未来を築きましょう。</div>
</div>