<div class="power-button-container">
  <%= link_to recipe_conditions_new_path, id: 'power-button' do %>
    <%= image_tag 'power-button-icon2.png', class: 'power-icon', alt: 'Power Button' %>
  <% end %>
</div>

<div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-count="true" data-home="true" data-lineId="@309zjqpb" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async defer></script>

<div class="scrolling-text-container">
  <div class="scrolling-text">AIがあなたに最適なレシピを提案。WEBサイトまたはLINE友達追加で簡単にレシピを生成。栄養バランスの取れた食生活をサポートします。</div>
</div>
