<div class="power-button-container">
  <%= link_to '#', id: 'power-button' do %>
    <%= image_tag 'power-button-icon2.png', class: 'power-icon', alt: 'Power Button' %>
  <% end %>
</div>

<div class="scrolling-text-container">
  <div class="scrolling-text">健康的な食生活を。 私たちがあなたをサポートします。 U T O P I A でより良い未来を築きましょう。</div>
</div>
