<div class="power-button-container">
  <%= link_to recipe_conditions_new_path, id: 'power-button' do %>
    <%= image_tag 'power-button-icon2.png', class: 'power-icon', alt: 'Power Button' %>
  <% end %>
</div>

<div class="scrolling-text-container">
  <div class="scrolling-text">データ駆動型の食生活で、最適な自分へ。中央のボタンを押して、健康的な食生活を。</div>
</div>