.favorite-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  right: 450px;
  top: 230px;
}

.fa-star {
  font-size: 40px;
  color: #ccc;
  transition: color 0.3s ease;
}

.fa-star.favorite-active {
  color: #666666;
}

.favorite-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.favorite-button .fa-star {
  font-size: 40px;
  color: #ccc;
  transition: color 0.3s ease;
}

.favorite-button .fa-star.favorite-active {
  color: #4aecd7;
}
