.how-to-use {
  .container {
    text-align: center;
  }

  .card {
    margin-bottom: 2rem;
    border: none;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;

    .card-body {
      text-align: center;
      padding-bottom: 1.5rem;
      border-bottom: 2px solid #a0a0a0;
      
      ul {
        display: inline-block;
        text-align: left;
        padding-left: 0;
      }
    }

    &:last-child .card-body {
      border-bottom: none;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  h2.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .card-text {
    margin-bottom: 1rem;
  }
}