@import 'flash_messages';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ecebe0;
  color: #666666;
  font-family: "Noto Serif JP", serif;
  margin: 0;
  padding: 0;
}

body, input, button, select, textarea {
  font-family: "Noto Serif JP", serif;
}

main {
  flex: 1 0 auto;
  overflow-y: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-9 { 
  padding-top: 9rem !important; 
}

.header {
  width: 100%;
  background-color: #fdfdfd;
  padding: 2.5rem 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.8rem;
  color: #a1dfd1;
  text-decoration: none;
  font-weight: bold;
  margin-left: -300px;
  &:hover {
    color: #9ef0e5;
  }
}

.header-nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translateX(300px);
}

.header-nav-item {
  margin-left: 1.5rem;
}

.header-nav-link {
  color: #666666;
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    color: #cccccc;
  }
}

.custom-footer {
  width: 100%;
  background-color: #fdfdfd;
  padding: 0.5rem 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.footer-links {
  a {
    color: #666666;
    text-decoration: none;
    margin: 0 0.5rem;
    
    &:visited {
      color: #666666;
    }

    &:hover {
      color: #cccccc;
    }
  }
}

.signup-container, .login-container {
  max-width: 500px;
  margin: 25px auto;
  position: relative;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
  color: #666666;
}


.btn-svg,.recipe-btn-svg {
  font-weight: 700;
  line-height: 54px;
  width: 204px;
  height: 54px;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
  font-family: "Noto Serif JP", serif;
  border: none;
  outline: none;

  &:hover {
    background-color: rgba(180, 180, 180, 0.164);

    span {
      color: #4aecd7;
    }

    svg rect {
      stroke: #4aecd7;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    rect {
      transition: all 400ms ease;
      stroke: #666666;
      stroke-width: 2;
      stroke-dasharray: 200px, 16px;
      stroke-dashoffset: 70px;
    }
  }

  &:hover svg rect {
    stroke-dashoffset: 284px;
  }

  span {
    color: #666666;
    position: relative;
    z-index: 1;
  }
}

.form-actions {
  text-align: center;
  margin-top: 80px;
}

.scrolling-text-container {
  overflow: hidden;
  width: 100%;
  height: 50px;
  color: #9b9b9b;
  position: fixed;
  bottom: 210px;
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 40s linear infinite;
  font-size: 40px;
  font-family: "Noto Sans JP", sans-serif;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.power-button-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.power-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 0 8px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.power-icon:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 0 0 12px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.power-icon:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 20px rgba(255, 255, 255, 0.1);
}

.recipe-container {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
  padding: 20px;
  border-radius: 8px;
}

.recipe-container h2 {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
  color: #666666;
}

.recipe-form,
.signup-form,
.login-form {
  .recipe-form-group,
  .form-group {
    position: relative;
    margin: 32px 0;
  }

  .recipe-form-control,
  .form-control {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #666666;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;
    font-family: "Noto Sans JP", sans-serif;
    color: #5f5f5f;
    padding-top: 20px; // ラベルのためのスペースを確保

    &:focus {
      outline: none;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Noto Serif JP", serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #888;
  }
}


.recipe-form-actions {
  text-align: center;
  margin-top: 80px;
}

.radio-group {
  margin-bottom: 15px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin-right: 15px;
  position: static;
  cursor: pointer;
}

.recipe-form-group h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666666;
}

.radio-group {
  input[type="radio"] {
    display: none;
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-right: 15px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border: 2px solid #666666;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  input[type="radio"]:checked + label {
    &:after {
      content: '';
      position: absolute;
      left: 4.2px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #666666;
    }
  }
}