@import "bootstrap";

.pt-9 { padding-top: 9rem !important; }

body, input, button, select, textarea {
  font-family: 'Noto Serif JP', sans-serif;
}

body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333333;
}

main {
  flex: 1;
}

.navbar {
  padding-bottom: 50px;
  padding-top: 50px;
}

.custom-navbar {
  background-color: #fdfdfd;
}

.navbar-brand {
  font-family: 'Julius Sans One', sans-serif;
}

.nav-link:hover {
  color: #3d3d3d;
}


.btn-custom {
  background-color: #252525;
  color: #f0f0f0;
  border: 1px solid #252525;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: #5c5c5c;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.custom-input {
  background-color: #ffffff;
  border: 1px solid #252525;
  border-radius: 0.25rem;
}

.custom-input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(95, 95, 95, 0.25);
}

.custom-label {
  color: #949494;
}

.alert {
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #505050;
  font-family: "Noto Sans JP", sans-serif;
}

.alert-success::before {
  content: "SUCCESS :: ";
  color: #28a745;
}

.alert-danger::before {
  content: "ERROR :: ";
  color: #dc3545;
}

.footer {
  background-color: #fdfdfd;
  padding: 20px 0;
  margin-top: auto;
}

.footer a {
  color: #6c757d;
  text-decoration: none;
}

.footer a:hover {
  color: #3d3d3d;
}
