<footer class="footer mt-auto py-3 ">
  <div class="container text-center">
    <div class="mb-3">
      <%= link_to '利用規約', '#', class: 'me-3' %>
      <%= link_to 'プライバシーポリシー', '#', class: 'me-3' %>
      <%= link_to 'お問い合わせ', '#', class: 'me-3' %>
    </div>
    <div>
      <p>&copy; 2024 UTOPIA. All rights reserved.</p>
    </div>
  </div>
</footer>