<footer class="custom-footer">
  <div class="footer-container">
    <div class="footer-links">
      <%= link_to '利用規約', '#' %>
      <%= link_to 'プライバシーポリシー', '#' %>
      <%= link_to 'お問い合わせ', '#' %>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2024 UTOPIA. All rights reserved.</p>
    </div>
  </div>
</footer>
