<footer class="custom-footer">
  <div class="footer-container">
    <div class="footer-links">
      <%= link_to '利用規約', terms_of_service_path %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path %>
      <%= link_to 'お問い合わせ', contact_path %>
    </div>
    <div class="footer-copyright">
      <p>&copy; 2024 UTOPIA. All rights reserved.</p>
    </div>
  </div>
</footer>