<% flash.each do |type, message| %>
  <% if message.present? %>
    <div class="flash-message-container">
      <div id="flash-message" class="alert <%= bootstrap_class_for_flash(type) %> fade show typewriter" role="alert">
        <span class="typewriter-text"><%= message %></span>
      </div>
    </div>
  <% end %>
<% end %>

<style>
  .flash-message-container {
    position: fixed;
    top: 150px;
    left: 45%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    z-index: 1050;
    text-align: center;
  }

.typewriter {
  display: inline-block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 2.5s steps(40, end),
    fadeOutDelay 9s forwards;
}

.typewriter::after {
  content: '|';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  color: #808080;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  animation: blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fadeOutDelay {
  0%, 95% { opacity: 1; }
  100% { opacity: 0; }
}

</style>